[package]
name = "qbice_serialize"
version.workspace = true
authors.workspace = true
description.workspace = true
edition.workspace = true
rust-version.workspace = true
license.workspace = true

[dependencies]

[lints]
workspace = true
